.logo {
  display: block;
  margin-bottom: 8px; }

@media (max-width: 767px) {
  .site-title a {
    font-size: 80%; }

  .logo {
    background-size: cover;
    display: inline-block;
    height: 19px;
    margin-bottom: -3px;
    margin-right: 5px;
    width: 50px; }
 }

.wp-post-image {
  height: 300px;
  object-fit: cover;
  width: 100%; }

.entry-content a {
  color: #0493cd; }
  .entry-content a:hover {
    color: #09b5fb; }

.site-footer {
  display: none; }
