/* Pagination
 *
 * @package    Mayer
 * @subpackage css
 * @since      1.0.0
 *====================================*/

#pagination {

	padding: 0;

	.pager {

		margin-bottom: 20px;
		margin-top:    20px;
		font-size:     18px;

		li {

			a {

				border: 0;
				color:  $dark-blue;

			} // a

		} // li

		.previous {

			> a {
				padding-left: 0;
			} // a

		} // .previous

		.next {

			> a {
				padding-right: 0;
			} // a

		} // .next

		.archive-next {

			> a {
				padding-right: 20px;
			} // a

		} // .archive-next

		.previous,
		.next {

			a:hover {
				color: $dark-gray;
			} // a:hover

		} // .previous, .next

	} // .pager

} // #pagination