.heading {
    @include heading;
    font-size: 32px;

    svg {
        vertical-align: middle;
    }
}

.content {
    h1 {
        @include heading;
        font-size: 32px;
        margin-bottom: spacing(normal);
    }

    h2 {
        @include heading;
        font-size: 24px;
        margin: spacing(large) 0 spacing(small);
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .date,
    .description {
        color: colors(light);
        font-family: fonts(opensans);
        font-size: 14px;
        text-transform: uppercase;
    }
}

.list {
    @include list-no-bullets;

    a {
        text-decoration: none;
    }

    .item {
        font-size: 18px;
        margin-bottom: 0;
    }
}

@media (min-width: breakpoints(ipad)) {
    .content {
        font-size: 18px;

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 36px;
        }
    }

    .panel {
        display: inline-block;
        width: 49.5%;
    }
}
