/* stylelint-disable selector-no-type */
html {
    box-sizing: border-box;
    min-width: 320px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: colors(text);
    font-family: fonts(merriweather);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
}

a {
    color: colors(text);
}

p {
    margin: 0 0 spacing(normal);
}

code {
    @include code;
}

kbd {
    @include code;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

pre {
    @include code;
    line-height: 1.4em;
    margin: 0 0 spacing(normal);
    overflow-x: auto;
    padding: spacing(normal);
    white-space: pre;

    code {
        padding: 0;
    }
}

hr {
    border: 0;
    margin: spacing(normal) 0 spacing(extralarge);
    text-align: center;

    &::before {
        content: '...';
        display: inline-block;
        letter-spacing: 1em;
        line-height: 1;
    }
}
/* stylelint-enable selector-no-type */

.column {
    margin: 0 auto;
    max-width: 768px;
}

.header {
    background: linear-gradient(to left, #67b26f, #4ca2cd);
    height: sizes(header);
    text-align: center;

    a {
        text-decoration: none;
    }
}

.navigation {
    margin-bottom: spacing(normal);
}

.navigation-items {
    @include list-inline;
    text-align: center;
}

.navigation-item {
    font-size: 16px;
    margin-right: spacing(normal);

    &:last-child {
        margin-right: 0;
    }

    a {
        color: colors(light);
        display: inline-block;
        font-style: italic;
        text-decoration: none;
    }

    svg {
        display: inline-block;
        height: sizes(icons);
        margin-right: spacing(extrasmall);
        vertical-align: middle;
        width: sizes(icons);
    }
}

.profile {
    @include divider-bottom;
    margin: -(sizes(gravatar) / 2) auto spacing(normal);
    padding: 0 spacing(normal) spacing(small);
    position: relative;
    text-align: center;
}

.gravatar {
    border: #fff 5px solid;
    border-radius: 50%;
    height: sizes(gravatar);
    width: sizes(gravatar);
}

.title {
    @include heading;
    font-size: 42px;
}

.subtitle {
    font-family: fonts(opensans);
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 spacing(normal);
}

.heading {
    @include heading;
    font-size: 32px;

    svg {
        vertical-align: middle;
    }
}

.content {
    color: #3a4145;
    margin-bottom: spacing(normal);
    padding: spacing(normal);

    h1 {
        @include heading;
        font-size: 32px;
        margin-bottom: spacing(normal);
    }

    h2 {
        @include heading;
        font-size: 24px;
        margin: spacing(large) 0 spacing(small);
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .date,
    .description {
        font-size: 16px;
        font-style: italic;
    }
}

.footer {
    background-color: #fafafa;
    border-top: #eee 1px solid;
    padding-top: spacing(normal);
    text-align: center;

    &.sticky {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.copyright {
    color: colors(light);
    display: inline-block;
    font-size: .8em;
}

.panel {
    padding: 0 spacing(small);
    vertical-align: top;

    .title {
        font-size: 24px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.list {
    @include list-no-bullets;

    a {
        text-decoration: none;
    }

    .item {
        font-size: 18px;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .header {
        height: sizes(header) * 2;
    }

    .title {
        font-size: 50px;
    }

    .navigation-items {
        @include list-inline;
    }

    .navigation-item {
        margin-bottom: 0;
        margin-right: spacing(large);
    }

    .content {
        font-size: 18px;

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 36px;
        }
    }

    .panel {
        display: inline-block;
        width: 49.5%;
    }
}
