@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin code {
    background-color: #f3f3f3;
    border-radius: 2px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 16px;
    padding: 3px 6px;
}

@mixin divider {
    position: relative;
}

@mixin divider-dot {
    background-color: #fff;
    border: 1px solid colors(border);
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
    content: '';
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 7px;
}

@mixin divider-bottom {
    @include divider;

    border-bottom: 1px solid colors(border);

    &::after {
        @include divider-dot;

        bottom: -4px;
    }
}

@mixin divider-top {
    @include divider;

    border-top: 1px solid colors(border);

    &::before {
        @include divider-dot;

        top: -4px;
    }
}

@mixin list-no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* stylelint-disable selector-no-type */
@mixin list-inline {
    @include list-no-bullets;

    li {
        display: inline-block;
    }
}
/* stylelint-enable selector-no-type */

@mixin heading {
    color: #2e2e2e;
    font-family: fonts(opensans);
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.15;
    margin: spacing(extrasmall) 0 spacing(small);
    text-indent: -3px;
    text-rendering: geometricPrecision;
}
