/* stylelint-disable selector-no-type */
html {
    box-sizing: border-box;
    min-width: 320px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #50585d;
    font-family: fonts(merriweather);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    text-align: center;
    text-rendering: optimizeLegibility;
}
/* stylelint-enable selector-no-type */

.column {
    margin: 0 auto;
    max-width: 675px;
}

.header {
    background-color: colors(background);
    background-image: url('/images/background.jpg');
    background-size: cover;
    height: sizes(header);
}

.navigation-items {
    @include list-no-bullets;
}

.navigation-item {
    margin-bottom: spacing(normal);

    &:last-child {
        margin-right: 0;
    }

    a {
        color: colors(muted);
        display: inline-block;
        font-style: italic;
        text-decoration: none;
    }

    svg {
        display: inline-block;
        height: sizes(icons);
        margin-right: spacing(extrasmall);
        vertical-align: middle;
        width: sizes(icons);
    }
}

.profile {
    border-bottom: 1px solid colors(border);
    margin: -(sizes(gravatar) / 2) auto spacing(normal);
    padding: 0 spacing(normal) spacing(small);
    position: relative;

    &::after {
        border: 1px solid colors(border);
        border-radius: 100%;
        bottom: -5px;
        box-shadow: #fff 0 0 0 5px;
        content: '';
        display: block;
        height: 7px;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 7px;
    }
}

.gravatar {
    border: #fff 5px solid;
    border-radius: 50%;
    height: sizes(gravatar);
    width: sizes(gravatar);
}

.title {
    color: #2e2e2e;
    font-family: fonts(opensans);
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.15;
    margin: spacing(extrasmall) 0 spacing(small);
    text-indent: -3px;
    text-rendering: geometricPrecision;
}

.subtitle {
    font-family: fonts(opensans);
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 0 spacing(normal);
}

.heading {
    color: #333;
    font-weight: normal;
}

.main {
    margin-bottom: spacing(large);
}

.footer {
    background-color: colors(background);
    padding: spacing(extrasmall) 0;

    &.sticky {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.copyright {
    color: colors(muted);
    font-size: .8em;
}

@media (min-width: 768px) {
    .header {
        height: sizes(header) * 2;
    }

    .title {
        font-size: 50px;
    }

    .profile {
        padding-bottom: spacing(large);
    }

    .navigation-items {
        @include list-inline;
    }

    .navigation-item {
        margin-bottom: 0;
        margin-right: spacing(large);
    }
}
