html{background:#eeeded url('../images/background.png') repeat fixed;color:#666666;font-family:Arial,Sans-Serif;}
.home a{color:#CC0000;text-decoration:none;}
.home a:hover{text-decoration:underline;}
.home a,.home img{border:none;outline:0;text-decoration:none;}
.home h1,.home h2{font-family:'Bebas Neue';text-transform:uppercase;}
.home .left{float:left;}
.home #vcard{margin:75px auto 0;padding:75px;width:695px;}
.home #name{font-size:100px;margin:0;padding:0;}
.home #title{font-size:50px;margin:0 0 35px 0;padding:0;}
.home .description{font-size:25px;letter-spacing:-1px;margin:0 0 25px 0;}
.home #social{margin:35px 0 0 0;}
.home #social li{display:inline;margin-right:0.25em;}
.home #social li a:hover{text-decoration:none;}
.home #copyright{font-size:12px;margin:35px 0 0;text-transform:uppercase;}
@font-face{font-family:'Bebas Neue';src:url('../fonts/BebasNeue.eot');src:local('☺'),url('../fonts/BebasNeue.otf') format('opentype'),url('../fonts/BebasNeue.ttf') format('truetype'),url('../fonts/BebasNeue.svg') format('svg');font-weight:normal;font-style:normal;}
::selection{background:#CC0000;color:#FFFFFF;text-shadow:none;}
#resume a{color:#cc0000;text-decoration:none;}#resume a:hover{text-decoration:underline;}
#resume li{color:#000000;}
#resume .page-header{text-transform:uppercase;}
#resume .entry .title{line-height:22px;}#resume .entry .title small{padding-right:4px;}
#resume .entry .location{font-size:12px;line-height:16px;font-style:italic;}
#resume .entry .row{margin-top:20px;}#resume .entry .row .position{font-style:italic;font-weight:bold;}#resume .entry .row .position .dates{font-weight:normal;}
#resume .entry .row .responsibilities{font-style:italic;font-weight:bold;}
