<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <header class="header"></header>
        <section class="profile column">
            {% include gravatar.html %}
            <h1 class="title">{{site.title}}</h1>
            <h2 class="subtitle">{{site.description}}</h2>
            <nav class="navigation">
                <ul class="navigation-items">
                    <li class="navigation-item">
                        <a href="https://twitter.com/manovotny" title="Twitter">
                            {% include icons/twitter.svg %}
                            Twitter
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="https://github.com/manovotny" title="GitHub">
                            {% include icons/github.svg %}
                            GitHub
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="https://github.com/manovotny/ama" title="AMA">
                            {% include icons/ama.svg %}
                            AMA
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="content column">
            {{content}}
        </main>
        {% include footer.html %}
    </body>
</html>
